<!DOCTYPE html>
<html lang="en" ng-app="MainModule">
<head>
    <meta charset="UTF-8">
    <meta id="views" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Anguar Dalda</title>

    <link rel="stylesheet" href="assets/css/horizontal.css">
    <link href='assets/css/style.css' rel='stylesheet' type='text/css'>

    <!--<script src="assets/scripts/jquery-2.1.4.min.js"></script>-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <!--<script src="assets/scripts/sly.min.js"></script>-->

    <script type="text/javascript" src="shared/enums.js"></script>

    <script type="text/javascript" src="app.routes.js"></script>
    <script type="text/javascript" src="app.module.js"></script>


    <script type="text/javascript" src="components/home/home.directive.js"></script>
    <script type="text/javascript" src="components/home/home.ctrl.js"></script>

    <script type="text/javascript" src="components/gallery/gallery.directive.js"></script>
    <script type="text/javascript" src="components/gallery/gallery.ctrl.js"></script>

    <script type="text/javascript" src="components/mostVoted/mostVoted.directive.js"></script>
    <script type="text/javascript" src="components/mostVoted/mostVoted.ctrl.js"></script>

    <script type="text/javascript" src="components/addTrick/addTrick.directive.js"></script>
    <script type="text/javascript" src="components/addTrick/addTrick.ctrl.js"></script>

</head>
<body>

<div class="wrapperDalda" ng-controller="MainCtrl">
    <div class="header" ng-show="showHeader">
        <div class="logo">
            <a href="#"><img src="assets/images/logo.png"></a>
        </div>
        <div class="right">
            <div class="nav">
                <div class="homeicon">
                    <a id="btn-home" ng-click="loadHome()"><img style="width: 35px; height: 25px;" src="assets/images/invisible.png"></a>
                </div>
                <div class="gallerybtn">
                    <a id="btn-gallery" ng-click="loadGallery()"><img style="width: 49px; height: 25px;"
                                                      src="assets/images/invisible.png"></a>
                </div>
                <div class="mostVotedBtn">
                    <a id="mostVotedGallery" ng-click="loadMostVoted()"><img style="width: 86px; height: 27px;"
                                                           src="assets/images/btn-most-voted.png"></a>
                </div>
            </div>
            <div class="addtrick">
                <a ng-click="loadHome()"><img id="addTrack" src="assets/images/addtrick.png"></a>
            </div>
        </div>
    </div>
    <div ng-view></div>
</div>
</body>
</html>